@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

body {
	font-family: 'Anton', sans-serif;
}

#app {
	height: 100vh;
	width: 100vw;
}


h1 {
	font-size: 4em;
	
}

h2 {
	text-align: center;
}


.hide {
	display: none !important;
}


#start {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}


.img-virus-start {
	width: 35%;
}


#username-form {
	margin: 0 auto;
	text-align: center;
}


.form-group {
	flex-grow: 1;
	display: flex;
}


#game-wrapper{
	display: flex;
	justify-content: space-between;
	height: 100vh;
}


#play-wrapper{
	background-image: url("../images/karta.jpg");
	height: 70vh;
	border-radius: 190px;
	background-size: 100%;
	position: relative;
}



#play{
	margin-left: 5rem;
	margin-right: 2rem;
	width: 70%;
	margin-top: 5rem;	
}


#users {
	flex-basis: 20%;
	border-left: 1px solid black;
	background-color: #218838;

}


#users h2 {
	background-color: black;
	padding: 0.5rem 0.75rem;
	color: white;
}


#users ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
	color: white;
	background-color:#218838;	
	
}

#scoreResult{
	padding: 0.5rem 0.75rem;
	background-color:pink;	
}


#corona {
    vertical-align: middle;
    border-style: none;
	width: 4%;
	position: absolute;
	top: 200px;
	left: 200px;
}


p{
    margin: auto;
    display: flex;
    justify-content: center;
	padding: 200px;
	font-size: 2em;
}

